<section id="tasks">
  <header>
    <h2>{{user.name}}'s Tasks</h2>
    <!-- <p><img [src]="'../../assets/users/' + user.avatar" [alt]="user.name" class="image"></p> -->
    <menu>
      <button (click)="onAddTask()">Add Task</button>
    </menu>
  </header>
  <app-task-to-add *ngIf="addTask" (taskData)="add($event)"></app-task-to-add>
  <ul>
    @for(task of selectedUserTasks; track task.id) {
    <li>
      <app-task [task]="task" (complete)="onCompleteTask($event)"></app-task>
    </li>
    }
  </ul>
</section>